@import './fonts.css';

h1, h2, h3, p {
  font-family: 'Jost', sans-serif;
}

h1 {
  font-size: calc(0.8rem + 0.6vw);
}

h2 {
  font-size: calc(0.8rem + 0.6vw);
}

h3 {
  font-size: calc(0.8rem + 0.6vw);
}

p {
  font-size: calc(0.8rem + 0.6vw);
  margin: 2vh 0;
}

footer {
  font-size: calc(0.8rem + 0.6vw);
}
