@font-face {
    font-family: 'Jost';
    src: local('Jost'), url('./assets/fonts/Jost-VariableFont.ttf') format('truetype');
    font-weight: 100 900; /* Adjust based on the weights included in the font */
    font-style: normal;
  }